.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #1f1e1c;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.contenedor-calculadora {
  width: 400px;
  height: 480px;
  padding: 15px;
  background-color: #CCC;
  border: 2px solid black;
  border-radius: 15px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}